#backBtn {
    -fx-cursor: hand;
    -fx-background-image: url("../icons/backBtn32px.png");
    -fx-background-size: 24 24;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-radius: 25px;

    -fx-min-width: 25px;
    -fx-min-height: 25px;
}